{% extends 'base.html' %}

{% block scripts %}
<style>
    .wapper{
        position: relative;
    }
    .book-wapper {
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .image {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    img {
        width: 100px; 
        height: 100px; 
        object-fit: cover; /* 아래에서 다룰 속성값 */ 
        border: 1px solid #000 /* 요소의 크기를 가늠하기위해 추가 */
    }
</style>
    
<script>
    function return_book(book_id, borrow_id) {
        console.log("!")
        $.ajax({
			url:'/book/return',
			type: 'POST',
			data: {
				'book_id': book_id,
                'borrow_id':borrow_id
			},
			success: function(res) {
				if(res['result'] == 'success') {
                    alert(res['message'])
					window.location.reload()
				} else {
                    alert(res['message'])
					window.location.reload()
				}
			}
		})
    }
</script>
{% endblock %}

{% block content %}
hello main

<div class="wapper">
    <div class="book-wapper">
        {% for book in borrow_list %}
        <div class="image">
            <img src="{{ url_for('static', filename='src/img/{}.png'.format(book.id)) }}"/>
            <p>{{ book.book_name }}</p>
            <p>평점 : {{ book.rating }}</p>
            <p>대여일 :{{ book.borrow_date.strftime('%Y-%m-%d') }}</p>
            <p>반납예정일 : {{ book.return_due_date.strftime('%Y-%m-%d') }}</p>
            <button onclick="return_book('{{book.id}}', '{{book.borrow_id}}')">반납하기</button>
        </div>
        {% endfor%}    
    </div>
</div>
{% endblock %}
