{% extends 'base.html' %}

{% block scripts %}
<style>
    img {
        height: 250px;
        width: 100%;
        border-bottom: solid 1px black;
    }
    .page-link {
        cursor: pointer;
    }
</style>
    
<script>
    function borrow_book(id) {
        console.log("{{ totalPageb }}")
        $.ajax({
			url:'/book/borrow',
			type: 'POST',
			data: {
				'book_id': id,
			},
			success: function(res) {
				if(res['result'] == 'success') {
                    alert(res['message'])
					window.location.reload()
				} else {
                    alert(res['message'])
					window.location.reload()
				}
			}
		})
    }

    function pageMove(direction, totalPage) {
        let page = new URL(window.location.href).searchParams.get("page");
        page = undefined ? 1 : page;
        page = direction === "left" ? --page : ++page;

        if (page == 0 || page > totalPage) return;

        window.location.href = `/book?page=${page}`;
    }
</script>
{% endblock %}

{% block content %}
<header class="bg-primary py-3">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-3 fw-bolder">Elice Libray</h1>
            <p class="display-6 lead fw-normal text-white-70 mb-0">Welcome Elice Library</p>
        </div>
    </div>
</header>
<div class="py-5">
    <div class="text-center container px-4 px-lg-5 mt-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><div></div></div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
  
            {% for book in book_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ url_for('static', filename='src/img/{}.png'.format(book.id)) }}" alt="..." />
                    <div class="card-body p-1">
                        <div class="text-center">
                            <p class="fw-bolder"><a href="/book/detail?id={{ book.id }}">{{ book.book_name }}</a></p>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>남은권수 : {{ book.stock }}</p>
                    </div>
                    <div class="d-flex justify-content-center small text-warning mb-3">
                        {% if book.rating%}
                        {% for _ in range(book.rating) %}
                        <div class="bi-star-fill"></div>
                        {% endfor %}
                        {% for _ in range(book.rating,5) %}
                        <div class="bi-star"></div>
                        {% endfor %}
                        {% else %}
                        {% for _ in range(5) %}
                        <div class="bi-star"></div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-primary mt-auto" onclick="borrow_book('{{book.id}}')">대여하기</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
    <nav aria-label="Pagination">
        <hr class="my-0">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item"><a class="page-link" onclick="pageMove('left','{{totalPage}}')" >PREV</a></li>
            {% if totalPage <= 5 %}

                {% for i in range(1,totalPage+1) %}
                {% if page == i %}
                <li class="page-item active disabled" aria-current="page"><a class="page-link" href="#!">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/book?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}

            {% elif page == 2 %}

                <li class="page-item"><a class="page-link" href="/book?page=1">1</a></li>
                <li class="page-item active disabled" aria-current="page"><a class="page-link" href="#!">2</a></li>
                {% for i in range(page+1,6) %}
                <li class="page-item"><a class="page-link" href="/book?page={{i}}">{{i}}</a></li>
                {% endfor %}

            {% elif page == totalPage-1 %}

                {% for i in range(page-3, page) %}
                <li class="page-item"><a class="page-link" href="/book?page={{i}}">{{i}}</a></li>
                {% endfor %}
                <li class="page-item active disabled" aria-current="page"><a class="page-link" href="#!">{{i}}</a></li>
                <li class="page-item"><a class="page-link" href="/book?page={{page+1}}">{{page+1}}</a></li>

            {% elif page == totalPage %}

                {% for i in range(page-4,page) %}
                <li class="page-item"><a class="page-link" href="/book?page={{i}}">{{i}}</a></li>
                {% endfor %}
                <li class="page-item active disabled" aria-current="page"><a class="page-link" href="#!">{{i}}</a></li>

            {% endif %}
            <li class="page-item"><a class="page-link" onclick="pageMove('right','{{totalPage}}')">NEXT</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
