{% extends 'base.html' %}

{% block scripts %}
<script>
	$(
		function() {
 			"use strict";
  			window.addEventListener("load", function() {
    			let form = document.getElementById("needs-validation");
    			form.addEventListener("submit", function(event) {
					let div_password_confirm = $("#div-password-confirm")
					let pw = $("#user_pw").val()
					let pw_con = $("#user_pw_confirm").val()
					event.preventDefault();
					if (form.checkValidity() == false) {
        				form.classList.add("was-validated");

						if(pw == pw_con) {
							div_password_confirm.hide();
						} else {
							div_password_confirm.show();
						}

      				} else {
						if(pw == pw_con) {
							div_password_confirm.hide();
							signup()
						} else {
							div_password_confirm.show();
						}
					}
				}, false);
  			}, false);
		}
	)
	
	function signup() {
		let user_name = $('#user_name').val()
		let user_pw = $('#user_pw').val()
		let user_nick = $('#user_nick').val()
		$.ajax({
			url:'/signup',
			type: 'POST',
			data: {
				'user_name': user_name,
				'user_pw' : user_pw,
				'user_nick': user_nick
			},
			success: function(res) {
				if(res['result'] == 'success') {
					alert(res['message'])
					window.location.href = '/'
				} else {
					window.location.reload()
				}
			}
		})
	}
	
</script>
{% endblock %}

{% block content %}
<div class="container px-5 my-5 px-5">
	<div class="text-center mb-5">
		<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
		<h2 class="fw-bolder">회원가입</h2>
		<p class="lead mb-0">회원가입을 환영합니다.</p>
	</div>
	<div class="row gx-5 justify-content-center">
		<div class="col-lg-6">
			{% for message in get_flashed_messages() %}
        	<div class="alert alert-warning text-center" role="alert">
            	{{ message }}
        	</div>
    		{% endfor %}
			<form id="needs-validation" novalidate>
				<!-- Name input-->
				<div class="form-floating mb-3">
					<input class="form-control" id="user_name" type="text" placeholder="Enter your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
					<label for="user_name">아이디(이메일 주소)</label>
					<div class="invalid-feedback">형식에 맞는 이메일 주소를 입력해주세요.</div>
					<div class="invalid-feedback" id="email-overlap-check" style="display: none;">이미 가입되어 있는 이메일입니다.</div>
				</div>

				<div class="form-floating mb-3">
					<input class="form-control" id="user_nick" type="text" placeholder="Enter your nickname" required pattern="^[가-힣a-zA-Z]{2,8}$"/>
					<label for="user_nick">이름(닉네임)</label>
					<div class="invalid-feedback">이름(닉네임)은 한글 또는 영어를 포함하는 2자 이상 8자 미만만 가능합니다.</div>
				</div>

				<!-- Email address input-->
				<div class="form-floating mb-3">
					<input class="form-control" id="user_pw" type="password" placeholder="Enter your password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!@#$%^&*()+|=])[A-Za-z\d~!@#$%^&*()+|=]{8,}"/>
					<label for="user_pw">비밀번호</label>
					<div class="invalid-feedback">특수문자,숫자,문자를 포함하는 8자이상의 비밀번호를 입력해주세요.</div>
				</div>
				<div class="form-floating mb-3">
					<input class="form-control" id="user_pw_confirm" type="password" placeholder="password"/>
					<label for="user_pw_confirm">비밀번호 확인</label>
					<div id="div-password-confirm" class="invalid-feedback">비밀번호가 일치하지 않습니다. 확인해주세요.</div>
				</div>
				
				<div class="d-grid"><button class="btn btn-primary btn-lg" type="submit" id="submitButton" >가입</button></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}